<?xml version="1.0" encoding="UTF-8"?>
<tileset version="1.10" tiledversion="1.10.2" name="{{.TilesetName}}" tilewidth="{{.TileWidth}}" tileheight="{{.TileHeight}}" tilecount="{{.TileCount}}" columns="{{.Columns}}">
 <transformations hflip="1" vflip="1" rotate="1" preferuntransformed="0"/>
 <image source="{{.ImageSource}}" width="{{.ImageWidth}}" height="{{.ImageHeight}}"/>
 <wangsets>
  <wangset name="14x2_Mixed_{{.Terrain1Name}}_to_{{.Terrain2Name}}" type="mixed" tile="-1">
   <wangcolor name="{{.Terrain1Name}}" color="#ff0000" tile="-1" probability="1"/>
   <wangcolor name="{{.Terrain2Name}}" color="#00ff00" tile="-1" probability="1"/>
   <wangtile tileid="0" wangid="1,1,1,1,1,1,1,1"/>
   <wangtile tileid="1" wangid="2,1,1,1,1,1,1,1"/>
   <wangtile tileid="2" wangid="2,1,2,1,1,1,1,1"/>
   <wangtile tileid="3" wangid="2,2,2,1,1,1,1,1"/>
   <wangtile tileid="4" wangid="2,1,1,1,2,1,1,1"/>
   <wangtile tileid="5" wangid="2,1,2,1,2,1,1,1"/>
   <wangtile tileid="6" wangid="2,2,2,1,2,1,1,1"/>
   <wangtile tileid="7" wangid="2,1,2,2,2,1,1,1"/>
   <wangtile tileid="8" wangid="2,2,2,2,2,1,1,1"/>
   <wangtile tileid="9" wangid="2,1,2,1,2,1,2,1"/>
   <wangtile tileid="10" wangid="2,2,2,1,2,1,2,1"/>
   <wangtile tileid="11" wangid="2,2,2,2,2,1,2,1"/>
   <wangtile tileid="12" wangid="2,2,2,1,2,2,2,1"/>
   <wangtile tileid="13" wangid="2,2,2,2,2,2,2,1"/>
   <wangtile tileid="14" wangid="2,2,2,2,2,2,2,2"/>
   <wangtile tileid="15" wangid="1,2,2,2,2,2,2,2"/>
  </wangset>
  <wangset name="14x2_Corner_{{.Terrain1Name}}_to_{{.Terrain2Name}}" type="corner" tile="-1">
   <wangcolor name="{{.Terrain1Name}}" color="#ff0000" tile="-1" probability="1"/>
   <wangcolor name="{{.Terrain2Name}}" color="#00ff00" tile="-1" probability="1"/>
   <wangtile tileid="0" wangid="0,1,0,1,0,1,0,1"/>
   <wangtile tileid="3" wangid="0,2,0,1,0,1,0,1"/>
   <wangtile tileid="8" wangid="0,2,0,2,0,1,0,1"/>
   <wangtile tileid="12" wangid="0,2,0,1,0,2,0,1"/>
   <wangtile tileid="13" wangid="0,2,0,2,0,2,0,1"/>
   <wangtile tileid="14" wangid="0,2,0,2,0,2,0,2"/>
  </wangset>
  <wangset name="14x2_Edge_{{.Terrain1Name}}_to_{{.Terrain2Name}}" type="edge" tile="-1">
   <wangcolor name="{{.Terrain1Name}}" color="#ff0000" tile="-1" probability="1"/>
   <wangcolor name="{{.Terrain2Name}}" color="#00ff00" tile="-1" probability="1"/>
   <wangtile tileid="0" wangid="1,0,1,0,1,0,1,0"/>
   <wangtile tileid="1" wangid="2,0,1,0,1,0,1,0"/>
   <wangtile tileid="3" wangid="2,0,2,0,1,0,1,0"/>
   <wangtile tileid="4" wangid="2,0,1,0,2,0,1,0"/>
   <wangtile tileid="8" wangid="2,0,2,0,2,0,1,0"/>
   <wangtile tileid="14" wangid="2,0,2,0,2,0,2,0"/>
  </wangset>
  <wangset name="14x2_Mixed_{{.Terrain2Name}}_to_{{.Terrain1Name}}" type="mixed" tile="-1">
   <wangcolor name="{{.Terrain1Name}}" color="#ff0000" tile="-1" probability="1"/>
   <wangcolor name="{{.Terrain2Name}}" color="#00ff00" tile="-1" probability="1"/>
   <wangtile tileid="0" wangid="1,1,1,1,1,1,1,1"/>
   <wangtile tileid="1" wangid="2,1,1,1,1,1,1,1"/>
   <wangtile tileid="14" wangid="2,2,2,2,2,2,2,2"/>
   <wangtile tileid="15" wangid="1,2,2,2,2,2,2,2"/>
   <wangtile tileid="16" wangid="1,2,1,2,2,2,2,2"/>
   <wangtile tileid="17" wangid="1,1,1,2,2,2,2,2"/>
   <wangtile tileid="18" wangid="1,2,2,2,1,2,2,2"/>
   <wangtile tileid="19" wangid="1,2,1,2,1,2,2,2"/>
   <wangtile tileid="20" wangid="1,1,1,2,1,2,2,2"/>
   <wangtile tileid="21" wangid="1,2,1,1,1,2,2,2"/>
   <wangtile tileid="22" wangid="1,1,1,1,1,2,2,2"/>
   <wangtile tileid="23" wangid="1,2,1,2,1,2,1,2"/>
   <wangtile tileid="24" wangid="1,1,1,2,1,2,1,2"/>
   <wangtile tileid="25" wangid="1,1,1,1,1,2,1,2"/>
   <wangtile tileid="26" wangid="1,1,1,2,1,1,1,2"/>
   <wangtile tileid="27" wangid="1,1,1,1,1,1,1,2"/>
  </wangset>
  <wangset name="14x2_Corner_{{.Terrain2Name}}_to_{{.Terrain1Name}}" type="corner" tile="-1">
   <wangcolor name="{{.Terrain1Name}}" color="#ff0000" tile="-1" probability="1"/>
   <wangcolor name="{{.Terrain2Name}}" color="#00ff00" tile="-1" probability="1"/>
   <wangtile tileid="0" wangid="0,1,0,1,0,1,0,1"/>
   <wangtile tileid="14" wangid="0,2,0,2,0,2,0,2"/>
   <wangtile tileid="17" wangid="0,1,0,2,0,2,0,2"/>
   <wangtile tileid="22" wangid="0,1,0,1,0,2,0,2"/>
   <wangtile tileid="26" wangid="0,1,0,2,0,1,0,2"/>
   <wangtile tileid="27" wangid="0,1,0,1,0,1,0,2"/>
  </wangset>
  <wangset name="14x2_Edge_{{.Terrain2Name}}_to_{{.Terrain1Name}}" type="edge" tile="-1">
   <wangcolor name="{{.Terrain1Name}}" color="#ff0000" tile="-1" probability="1"/>
   <wangcolor name="{{.Terrain2Name}}" color="#00ff00" tile="-1" probability="1"/>
   <wangtile tileid="0" wangid="1,0,1,0,1,0,1,0"/>
   <wangtile tileid="14" wangid="2,0,2,0,2,0,2,0"/>
   <wangtile tileid="15" wangid="1,0,2,0,2,0,2,0"/>
   <wangtile tileid="17" wangid="1,0,1,0,2,0,2,0"/>
   <wangtile tileid="18" wangid="1,0,2,0,1,0,2,0"/>
   <wangtile tileid="22" wangid="1,0,1,0,1,0,2,0"/>
  </wangset>
 </wangsets>
</tileset>
